body{
    background-color: rgb(184, 197, 214);
}
header{
    display:flex;
    flex-direction: column;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 245, 252);
    padding:10px;
    justify-content: center;
    height: auto;
    top: 0;
    left: 0;
    z-index: 990;
}
nav ul{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    margin-right: 10px;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
